@{
    ViewData["Title"] = "Chat in real time";
}

<h1>@ViewData["Title"]</h1>

<form>
    <div class="form-group">
        <label>Message list:</label>
        <div id="chatroom"></div>
    </div>
</form>

<script src="~/js/hubChatroom.js"></script>