@{
    ViewData["Title"] = "Message history";
}

<h1>Message history for the last 10 minutes</h1>

<form>
    <input type="button" id="updateBtn" class="btn btn-primary" value="Update" />
    <div class="form-group">
        <label>Message list:</label>
        <div id="chatroom"></div>
    </div>
</form>

<script src="~/js/apiForPeriod.js"></script>